button {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-1 {
	margin-bottom: 18px;
	font-family: $font__mont;
	@include font-size( 1.05 );
	color: #ffffff;
	background-color: rgba( #000, .9 );
	border-color: rgba( #000, 1);

	&:hover {
		color: $color__link-hover;
		// background-color: rgba( #272B2E, 1 );
	}
}

.btn-2 {
	margin-bottom: 18px;
	font-family: $font__mont;
	@include font-size( 1.05 );
	color: #ffffff;
	background-color: rgba( #3B4043, 1 );
	border-color: rgba( #000, 1);

	&:hover {
		color: $color__link-hover;
	}
}