.btn,
button,
form .nf-form-content input[type=button] {
	display: inline-block;
	font-weight: 400;
	font-family: $font__mont;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgba( #000, .9 );
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 18px;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:hover {
		background-color: #444444;
		color: #ffffff;
	}
}

.btn-1 {
	margin-bottom: 18px;
	font-family: $font__mont;
	@include font-size( 1.05 );
	color: #ffffff;
	background-color: rgba( #000, .9 );
	border-color: rgba( #000, 1);

	&:hover {
		background-color: #444444;
		color: #ffffff;
	}
}

.btn-2 {
	margin-bottom: 18px;
	font-family: $font__mont;
	@include font-size( 1.05 );
	color: #ffffff;
	background-color: rgba( #3B4043, 1 );
	border-color: rgba( #000, 1);

	&:hover {
		background-color: rgba( #000, .9 );
		color: #ffffff;
	}
}