input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

form .nf-form-content,
form .nf-field-label {
	label {
		@include font-size( 1.01 );
		font-weight: 600;
	}

	input.ninja-forms-field {
		height: 45px;
	}

	textarea.ninja-forms-field {
		height: 100px;
	}

	.nf-error.field-wrap .nf-field-element:after {
		height: 43px;
	}	
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
