body {
	h1, h3, h4, h5, h6 {
		clear: both;
		font-family: $font__title;
	}

	h2 {
		clear: both;
		font-family: $font__heading;
		@include font-size( 1.48 );
	}

	h3 {
		clear: both;
		font-family: $font__title;
		// @include font-size( 1.48 );
	}
}