body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__body;
	// font-family: 'Open Sans Condensed';
	font-weight: 600;
	@include font-size( 1.05 );
	line-height: $font__line-height-body;
}


@import "headings";

@import "copy";
